{% extends 'base.html.twig' %}

{% block title %}
    {{ isNew ? 'Créer' : 'Modifier' }} un événement - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/components/form.css') }}">
{% endblock %}

{% block body %}
    {# 
        Pour afficher les champs un par un, 2 fonctions : 
        form_start => affiche la balise ouvrante du formulaire et la configuration nécessaire
        form_end => affiche la balise de fermeture du formulaire et éventuellement les champs non affichés  
    #}
    {{form_start(form)}}

    <div class="form-row">
        {{form_row(form.name)}} {# form.name nom lié au nom EventType lui-même lié au nom champ repository #}
    </div>
    <div class="form-row">
        {{ form_row(form.picture) }}
        {{ form_row(form.category) }}
    </div>
    <div class="form-row">
        {{ form_row(form.startAt) }}
        {{ form_row(form.endAt) }}
    </div>
    <div class="form-row">
        {{ form_row(form.price) }}
        {{ form_row(form.capacity) }}
    </div>
    <div class="form-row">
        {{ form_row(form.place) }}
    </div>
    <div class="form-row">
        {{ form_row(form.description) }}
        {{ form_row(form.rules) }}
    </div>

    <div class="form-end">
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
{% endblock %}