{% extends 'base.html.twig' %}

{% block title %}{{ event.name }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/event/show.css') }}">
{% endblock %}

{% block mainClasses %}no-spaces{% endblock %}

{% block body %}
    <article class="event">
        <div class="event-view">
            <img src="{{ event.picture }}" alt="{{ event.name }}">
            <h1>{{ event.name }}</h1>
        </div>
        <div class="event-summary">
            <p class="event-summary__description">
                {{ event.description }}
            </p>
            <aside class="event-summary__detail">
                <ul>
                    <li data-icon="&#xf274"> <!-- pour interpréter le code UTF8 (Unicode f274) préfixer &#x-->
                        {{ event.startAt|date('d/m/Y H:i') }}
                    </li>
                    <li data-icon="&#xf273">
                        {{ event.endAt|date('d/m/Y H:i') }}
                    </li>
                    <li data-icon="&#xf3c5">
                        <!-- if event.place : si place existe alors t'affiche...
                        else : si non t'affiche À distance -->
                        {% if event.place %}
                            {{ event.place.name }}<br>
                            {{ event.place.street }}<br>
                            {{ event.place.zipcode }} - {{ event.place.city }}
                        {% else %}
                            À distance
                        {% endif %}
                    </li>
                    <li data-icon="&#xf007">
                        {{ event.owner.username }}
                    </li>
                    {% if is_granted('EVENT_FORM', event) %}
                    <li>
                       <a href="{{path('event_edit', {id: event.id}) }}" class="button"> {# {id: event.id} : en twig {} = tableau avec les id des events dedans #}
                           Modifier
                       </a> 
                    </li>
                    {% endif %}
                </ul>
            </aside>
        </div>
            <ul class="event-rules">
                {% for rule in event.rules %}
                <!-- arrayCollection : tableau de plusieurs règle => rule est un objet donc faut utiliser son label pour convertir en string -->
                <li>{{ rule.label }}</li>
                {% endfor %}
            </ul>
        <div class="event-register">
            <span>
                <i class="fas fa-euro-sign"></i>
                {{ event.price ?? 'Gratuit' }}
                <!-- si c'est vrai, affiche event.price - si c'est faux, affiche gratuit
                    condition ternaire : si une seule info à afficher, si plusieurs infos condition normale-->
            </span>
            <span>
                <i class="fas fa-ticket-alt"></i>
                10 places restantes
            </span>
            <a href="{{ path('event_booking', {
                id: event.id
            }) }}" class="button">
                Réserver
            </a>
        </div>
    </article>
{% endblock %}