<header>
    <a href="{{ path('main_index') }}" class="title">
        <img src="{{ asset('images/logo.svg') }}" alt="Logo BeerTime">
        BeerTime
    </a>

    <nav>
        <ul>
            <li>
                <a href="{{ path('event_list') }}">Nos événements</a>
                <!-- Chemin vers les pages src/EventController/page event_list -->
            </li>
            <li>
                <a href="{{ path('event_new') }}">Créer un événementt</a>
            </li>
            <li>
                <a href="{{ path('main_about') }}">À propos</a>
                <!-- Chemin vers les pages src/MainController/page main_about -->
            </li>
            <li>
                <a href="{{ path('main_contact') }}">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="account">
        <a href="#">
            Connexion
        </a>
        <a href="{{ path('user_register')}}">
            Inscription
        </a>
    </div>
</header>