<header>
    <a href="{{ path('main_index') }}" class="title">
        <img src="{{ asset('images/logo.svg') }}" alt="Logo BeerTime">
        BeerTime
    </a>

    <nav>
        <ul>
            <li>
                <a href="{{ path('event_list') }}">Nos événements</a>
                <!-- Chemin vers les pages src/EventController/page event_list -->
            </li>
            <li>
                <a href="{{ path('event_new') }}">Créer un événementt</a>
            </li>
            <li>
                <a href="{{ path('main_contact') }}">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="account">
        {% if app.user %}
            <a href="#">
                <i class="fas fa-user"></i>
                {{ app.user.username }}
            </a>
            <a href="{{ path('user_logout') }}">
                Déconnexion
            </a>
        {% else %}
            <a href="{{ path('user_login') }}">
                Connexion
            </a>
            <a href="{{ path('user_register') }}">
                Inscription
            </a>
        {% endif %}
    </div>
</header>